.App {
  text-align: center;
}

.App_header {
  height: 10vh;
  display: flex;
  justify-content: left;
  align-items: center;
}

.MuiCard {
  padding: 40px;
  text-align: left;
}

.h2 {
  text-align: left;
  text-indent: 3%;
  font-size: xx-large;
}

.Filter {
  margin-left: 3%;
}