.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App_header {
  height: 10vh;
  display: flex;
  justify-content: left;
  align-items: center;
}

.MuiCard {
  padding: 40px;
  text-align: left;
}
